$primary_color: #AAA;

body {
  background-image: linear-gradient( rgba(181, 181, 181, 0.602), rgba(219, 219, 219, 0.601), rgba(181, 181, 181, 0.601));
  box-shadow: 2px 4px 5px (black);
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}